<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Console Appender -->
  <appender name="myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Rolling File Appender (Size + Time Based) -->
  <!-- <appender name="myFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/todos.log</file> 

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/todos.%d{yyyy-MM-dd_HH-mm-ss}.%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>30</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender> -->

  <!-- Root Logger -->
  <root level="INFO">
    <appender-ref ref="myConsoleAppender" />
    <appender-ref ref="myFileAppender" />
  </root>

</configuration>
